<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Wikipedia Viewer</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.css'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Raleway:100,300'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <div id="wikipedia" class="large-6 large-offset-3 columns vertical" ng-app="wiki-a" ng-controller="wiki-b">
  <h1 class="text-center margin">Wikipedia Viewer</h1>
  <div class="row">
    <div class="medium-6 medium-offset-3  large-offset-4">
      <form>
        <input type="text" placeholder="Search Please" ng-model="searchTerm" ng-change="searchWikipedia()">
      </form>
    </div>
  </div>
  <p class="text-center"><a href="http://en.wikipedia.org/wiki/Special:Random" target="_blank">Or click here for a random article</a></p>
  <a href="https://en.wikipedia.org/?curid={{ result.pageid }}" target="_blank" ng-repeat="result in results">
    <div class="callout large">
      <h2>{{ result.title }}</h2>
      <p>{{ result.extract }}</p>
    </div>
  </a>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
